*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list li{
    padding: 15px;
}
.logo{
    left: 85%;
}
.indexpage{
    display: flex;
    align-items: center;
    color: #2b2929;
    /* height: 100vh; */


}
.indextext{
    position: absolute;
    top: 40%;
    padding-left: 20px;
    text-align: justify;

}
.indextext h1{
    margin-bottom: 10px;
    color: #043927;
}
.indeximg img{
position: absolute;
right: 10%;
height: 60vh;
}
 

.container{
    background: #f5f1f1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-box{
    position: absolute;
    padding: 20px 15px;
    background: transparent;
    text-align: center;
    width: 30%;
}
.form-box p {
    text-align: center;
    margin-top: 9px;
    color: #656060;
}

.form-box a, h2{
    color: #05543a;
}
.form-box a:hover{
    color: #043927;
    text-decoration: underline;
}
.form-box .row{
    margin: 20px 0;
}
.row input{
    background:#f0ebeb;
    border: 2px solid #043927;
    border-radius: 8px;
    width: 100%;
    padding: 12px;
    margin-bottom: 5px;
    outline: #043927;
}

.success{
    position: absolute;
    left: 20%;
    padding:60px 60px;
    border: none;
    border-radius: 25px;
    background:#ded2d2;
    color: #043927;
    text-align: center;
    width: 40%;
}
.success h1{
    margin-bottom: 15px;
}
.success .btn{
    margin-top: 40px;
}
.profile-page{
    height: 100vh;

}
.upper{
    display: flex;
    align-items: center;

}
.head{
    background: #fff;
    padding: 0 40px;
    height: 30%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebe4e4;
}
.head-section-right{
    background: url('images/emo.jpg')no-repeat center center/cover;
    height: 40px;
    width: 40px;
    border-radius:40px ;
    position: absolute;
    right:5% ;
}
.tail{
    background:#f9fefc;
    height: 70vh;
    padding: 30px;
}
.mid{
    background: #043927;
    padding:  20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.mid a{
    color: #fff;
}
.profile{
    margin-top: 20px;
    padding: 10px;
}
.view{
    display: flex;
    align-items: center;
    margin: 20px;
}
.view a{
    color: #05543a;
    font-size: 13px;
}
.components{
    display: flex;
    align-items: center;
    background: #fff;
    padding: 25px;
    margin: 15px;
    position: relative;
    border-radius: 15px;
}
.left p{
    color: #043927;
}
.right{
    position: absolute;
    right: 50px;
    
}
.click{
    padding:10px;
    border: 1px;
    border-radius: 10px;
    cursor: pointer;
}
.anonymous{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f1f1;
}
.anonymous-box{
    width: 25%;
    /* border: 2px solid; */
    color:#d0f0cd;
    
}
.anonymous-box p{
    text-align: center;
    font-size: 20px;

}
.anonymous-input input{
    background: transparent;
    border: none;
    border-bottom: 2px solid #043927;
    width: 100%;
    margin-top: 10px;
    outline: none;
    color: #043927;
    text-align: center;
    font-size: 19px;
}
.box-head{
    background: #05543a;
    padding: 40px;
    border-radius: 25px 0 0;
}
.box-form{
    padding: 50px;
    background: #d0f0cd;
    color: #043927;
    border: 1px solid;
    border-radius: 0 0 25px;
    text-align: center;
}
.box-form p{
    margin-top: 15px;
    font-size: 15px;
}
.box-form i{
    position: absolute;
    right: 130px ;
    cursor: pointer;
}
.anonymous-input{
    margin-bottom: 30px;
}
label{
    background: #043927;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    color: #d0f0cd;
}
.hidden{
display: none;
cursor: pointer;
}

.anonymous-box a{
    color:#043927;
    border: none;
    /* background: #688553; */
    /* border-radius: 20px; */
    /* padding: 10px 20px; */
}
/* .anonymous-box a:hover{
    background: #688553;
} */
/* .bottoms{
    margin-top: 20px;
    text-align: center;
} */

#list{
    position: relative;
    margin-top: 20px;
    height: 400px;
    overflow-y: auto;
    padding-right: 10px;
}
li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    cursor: pointer;
}
.btn{
    padding: 10px 30px; 
    margin-bottom: 10px;
    width: 100%;
    background: #14520d;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}
.btn a{
    color: #ebe4e4;
}
.btn2{
    
    padding: 8px 30px; 
    font-size: 15px;
    background: #14520d;
    border: none;
    border-radius: 10px;
    margin: 30px 0px;
    cursor: pointer; 
}
.btn2 a{
    color: #fff;
}
.btn2:hover{
background-color: #688553;
color: #043927;
}
.btn3{
    padding: 5px;
    background: transparent;
    border:1px solid #043927;
    border-radius: 5px;
    cursor: pointer;

}
.btn3:hover{
    background: #1e7714;
    color: #f0ebeb;
}

@media(max-width:767px){
    
.logo{
    left: 60%;
}

.indextext{
    top: 60%;
    padding: 0px 25px;
}

.indeximg img{
    right: 10%;
    height: 40vh;
}
    .success{
        position: absolute;
        padding:30px 20px;
        width: 60%;
    }
    .components{
        padding: 30px;
        margin: 20px 0;
    }  
    .right{
        right: 30px;
    }
    .profile{
        padding: 5px;
    }
    .head-section-right{
        height: 50px;
        width: 50px;
        position: absolute;
        right:8% ;
}
.form-box{
    left: 10%;
    padding: 10px 15px;
    width: 80%;
}
.anonymous-box{
    width: 70%;
}
}

@media screen and (max-width:1024px) and (min-width:768px){
    .logo{
        left: 75%;
    }
    
    .indextext{
        top: 55%;
        padding: 0px 70px;
        
    }
    
    .indeximg img{
        right: 25%;
        height: 40vh;
    }
        .success{
            position: absolute;
            padding:30px 20px;
            width: 60%;
        }
        .components{
            padding: 30px;
            margin: 20px 0;
        }  
        .right{
            right: 30px;
        }
        .profile{
            padding: 5px;
        }
        .head-section-right{
            height: 50px;
            width: 50px;
            position: absolute;
            right:8% ;
    }
    .form-box{
        left: 10%;
        padding: 10px 15px;
        width: 80%;
    }
    .anonymous-box{
        width: 70%;}
}

